.dual40{
    background-color: rgb(69, 88, 145);
    color: white;
}
.dual80{
    background-color: rgb(122, 152, 241);
    color: white;
    opacity: 0.8;
}
.dual60{
    background-color:rgb(0, 24, 241);
    color: white;
    opacity: 0.6;
}
.dual20{
    background-color:rgb(46, 43, 32);
    color: white;
    opacity: 0.6;
}